{{#if @site.navigation}}
    <nav class="bg-white  z-40 {{class}} pt-20 md:pt-0">
        <div class="w-full bg-white h-full pl-4 md:pl-6 mx-auto ">
            <ul class="nav {{margin}} class font-karma-bold block md:flex md:items-baseline {{menu_item_classes}}">
                {{#foreach navigation}}
                    <li  class="m-inherit pb-8 md:pb-0 nav-{{slug}}{{#if current}} nav-current{{/if}} list-none" code="{{slug}}">
                        <a class="font-karma-bold text-sm s:text-base md:text-xs teta:text-sm ganma:text-base" href="{{url absolute="true"}}">{{label}}</a>
                    </li>
                    {{#has number="3"}}
                            <div class="gh-head-brand h-full hidden">
                                <a class="gh-head-logo" href="{{@site.url}}">
                                    {{> icons/logowithtext width=150 height=97}}
                                </a>
                            </div>
                    {{/has}}
                {{/foreach}}
            </ul>
        </div>
    </nav>
{{/if}}