<div class="{{container-width}} {{container-height}} {{container_classes}}">
    <a href="{{@site.url}}/{{@site.facebook}}" class="m-auto">
        <div class="{{classes}} {{container-height}}">
            {{> icons/facebook fill=fill classes_string="m-auto block" width="7" height="16" viewbox="0 0 13 22"}}
        </div>
    </a>
    <a href="{{@site.url}}/{{@site.instagram}}" class="m-auto">
        <div class="{{classes}} {{container-height}}">
            {{> icons/instagram fill=fill classes_string="m-auto block" width="15" height="14" viewbox="0 0 21 20"}}
        </div>
    </a>
    <a href="{{@site.url}}/{{@site.youtube}}" class="m-auto">
        <div class="{{classes}}  {{container-height}}">
            {{> icons/youtube fill=fill classes_string="m-auto block" width="19" height="10" viewbox="0 0 27 19"}}
        </div>
    </a>
</div>