
{{#get "posts" limit="all"  filter="{{filter}}"}}
    {{#foreach posts visibility="all"}}

        <div class=" w-full inline-block md:pt-12" number="{{@number}}">
            <div class="w-1/3 md:w-1/5 text-left md:text-center  pt-6 xs:pt-4 xs:pb-0 s:pb-2 md:pt-0 md:pb-0 md:w-1/5 inline-block float-left">
                <span class="font-karma-bold pl-6 md:pl-0 text-4xl xs:text-6xl s:text-7xl">
                    {{#has number="1,2,3,4,5,6,7,8,9"}}0{{/has}}{{@number}}
                </span>
            </div>
        
            <div class="w-full col-lg-8 min-h-20rem min-h-24rem md:min-h-24rem large-post post-wrap {{post_class}} {{classes}} md:w-4/5 relative float-left md:px-1" number="{{@number}}">
                    <div class="featured-image-wrap relative">
                        <div class="featured-image">
                            <div class="owl-carousel owl-theme" number="{{@number}}">
                                <img class="w-full h-full object-cover" srcset="{{img_url feature_image size="m"}} 600w,
                                        {{img_url feature_image size="l"}} 1000w"
                                sizes="(min-width: 768px) and (max-width: 991px) 1000px, 600px"
                                src="{{img_url feature_image size="m"}}"
                                alt="{{title}}"
                                />
                            </div>
                        </div>
                        <div class="card-tallarte info border-b-2 py-8 xs:inline-block md:pb-20 w-full  min-w-7/10 min-h-3/5 top-5/7 bg-white">
                            <div class="content-container m-auto block w-4/5 md:w-full">
                                <div class="w-full md:w-1/2 float-left">
                                    <div class="">
                                        <span class="font-karma-bold title text-4xl md:text-6xl l:text-5xl text-primary-black">Taller</span>
                                    </div>
                                    <div class="col-lg-6 tag-title">
                                        <span class="font-karma-regular text-2xl uppercase title md:text-3xl l:text-2xl text-primary-black s:text-xl">{{title}}</span>
                                    </div>
                                    <div class="content-tallerte-page text-sm pt-4 pb-8 md:pt-12">
                                        {{content}}
                                    </div>
                                </div>
                                <div class="w-full md:w-1/2 float-left excert">
                                    <div class="excerpt excerpt-content">
                                        <span class="font-karma-light text-sm xs:text-sm l:text-lg md:text-base">{{excerpt}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {{/foreach}}
{{/get}}
